@media (min-width: 992px){
    .container {
        max-width:970px!important;
    }
    .passenger .nav-dropdown {
        width: 150%!important;
    }

    }
@media (min-width: 1200px){
        .container {
            max-width: 1200px!important;
        }
    }
  @media (max-width: 991px){
        #main-menu  .active-i a::before {
           background-color: orange!important;
       }
        .footer .container {
            max-width: 900px!important;
        }
        .canvas {
            background-image: none;
            background-color: #d2d2d2;
        }
        .top-panel {
      height: 85px;
      background-color: #d2d2d2;
        }
    .panel {
        background-color: #efefef!important;
        position: unset!important;
        height: 378px!important;
        border-bottom: 1px solid #e1e1e1;
    }
    #main-menu  img {
        width: 32px!important;
        height: 32px!important;
        filter:brightness(0) contrast(50%)!important;
    }
    #main-menu a::before{
        content: '';
        width: 41px!important;
        height: 41px!important;
        top: -9px!important;
        left: -35px!important;
        background-color: #efefef!important;
        border-radius: 100%!important;
    }
    #main-menu a {
        top: -17px!important;
        color: black!important;
    }
    #main-menu a:hover::before {
        background-color: orange!important;
    }
    #main-menu p {
        font-size: 12px!important;
        color: #464646;
    }
    .form-check label {
        color: black!important;
    }
    .alert-box-1 {
        position: relative!important;
        top: 0px!important;
    }
    .copyright .social > ul li  a {
        font-size: 17px!important;
        width: 24px!important;
        height: 24px!important;
        line-height: 26px!important;
    }
    .modal-cover {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        height: 100vh;
        width: 100%;
        background-color: #615f5f8a;
        transition: all .5s ease-in;
        z-index: 990;
        display: none;
    }
    .destination .nav-dropdown {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 999!important;
        width: 90%!important;
        height: 90%!important;
        margin:30px auto!important;  
        display: none; 
    }
    .passenger .nav-dropdown {
         position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 999!important;
        width: 90%!important;
        height: 90%!important;
        margin: auto!important;  
        display: none; 
        border-radius: 20px 20px 0 0 ;
    }
    .passenger .nav-dropdown li {
        font-size: 16px!important;
    }
        }
 @media (max-width: 767px){
            .top-panel {
                height: 46px!important;
            }
            .navigation {
                padding: 0px 15px!important;
            }
            .navigation-ul li {
                padding: 20px 0px!important;
            }
            .container {
                max-width:760px ;
            }
            .sign {
                max-width: 240px!important;
            }
            .sign li {
                width: 100px!important;
                height: 100px!important;
                  margin-left: 10px!important;
                margin-bottom: 10px!important;
            }
            .footer {
                padding-top: 0px!important;
            }
            .footer-titr {
                background-color: #d2d2d2;
                width: 100%;
            }
            .modal-login {
                width: 80%!important;
                height: 80%!important;
            }
            
 }
 @media (max-width: 400px){
 #main-menu .col-2 {
    flex: 0 0 13.666667%!important;
    max-width: 13.666667%;

 }
 }